<div class=" col-md-10"><h1 class="page-title"> Memebers - <span class="fw-semi-bold">Profile</span></h1></div>

<div class="row profile">
  <div class="col-md-11">
    <section class="widget">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="overflow-hidden" style="height:350px;">
            <img class="img-responsive" src="assets/images/pictures/19.jpg" style="width:100%;"> 
          </div>
          <div class="btn-toolbar">
            
			<a href="#" ng-click="blockToggle()" ng-style="userStatus==='blocked' && {'color': '#ff0000', 'border-color': '#ff0000'} || userStatus==='active' && {'color': '#fff','border-color': '#fff'}" class="btn btn-outline btn-sm pull-right">
             <span class="glyphicon glyphicon-trash"></span>
              Block
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 text-left">
            <div class="post-user post-user-profile">
              <span class="thumb-xlg">
                <img class="img-circle" src="{{ imageUrl }}" alt="..."> 
              </span>
              <h4 class="fw-normal"><span class="fw-semi-bold">{{mobile}}</span></h4>
			       <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
          <a href="#" class="list-group-item" style="height:70px;">
		  <div class=" col-md-11">
                                <span class="thumb-sm pull-left mr">
                                    
                                </span>
          
            <h5 class="no-margin">{{name}}</h5>
            <small class="text-muted"><span></span></small>
			</div>
			
          </a>
              </div></div>
              
            <p class="lead mt-lg">
				{{communityDesc}}
            </p>
           
            </div>
          </div>
          
		  <div data-ng-controller="ChartsDemoController">

 <div class="row">
    <div class="col-md-12">
      <section class="widget">
        <header>
          <h4>
            <span class="fw-semi-bold">Groups Overview</span> Charts
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          
          <div data-nvd3-chart data-chart="nvd31Chart" data-datum="nvd31Data">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    
  </div>
    <div class="row" style="margin-top:10px;">
	  <div class=" col-md-12" style="margin-bottom:20px;">
  <div class=" col-md-7"><h1 class="page-title"> </h1></div>
   <div class="col-md-3" style="float:right;text-align:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
					data-style="btn-primary"
					data-width="auto">
			  <option>Since</option>
			  <option>All</option>
			  <option>Month</option>
			  <option>Week</option>
			  <option>Today</option>
			</select>
		</div>
</div>
  </div>
  </div>
    <div class="col-md-6" >
      <section class="widget">
        <header>
          <h4>
            Flot <span class="fw-semi-bold">Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="mt mb" id="flot-main" style="width: 100%; height: 318px;" data-flot-chart-animator
               data-ng-init="data = [{
                        label: 'Traffic',
                        data: data3,
                        lines: {
                            fill: .3,
                            lineWidth: 0
                        },
                        color:['#ccc']
                    },{
                        label: 'Traffic',
                        data: data2,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color:['#F7653F']
                    },{
                        label: 'Traffic',
                        data: data1,
                        animator: {steps: 60, duration: 1000, start:0},
                        lines: {lineWidth:2},
                        shadowSize:0,
                        color: '#F7553F'
                }]" data-ng-model="data"></div>
          <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
          
        </div>
      </section>
    </div>
    <div class="col-md-6" >
      <section class="widget">
        <header>
          <h4>
            Morris <span class="fw-semi-bold">Area Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
         
          <div data-morris-chart data-type="area" data-height="343px" data-options="morris2Options">
          </div>
        </div>
      </section>
    </div>
    </div>
</div>

        </div>
      </div>
    </section>
  </div>
  
 

 