<style>
	.widget-body.no-padding > .list-group .list-group-item {height:70px;}
	.disabled {
       pointer-events: none;
       cursor: default;
    } 
</style>
<div class="row" ng-controller="MembersListController">
<div class=" col-md-9"><h1 class="page-title"> <span class="fw-semi-bold">Members</span></h1></div>
<label>Search: <input ng-model="search.firstName" ng-keyup="$event.keyCode == 13 && myFunc()"></label>
<div class="clearfix col-md-2  hide" >
	<div class="input-group">
		<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
				data-style="btn-primary"
				data-width="auto">
			<option>Type</option>
			<option>Alphabetically</option>
			<option>Date Creation</option>
			<option>Members</option>
			<optionMessages</option>
			</select>
		</div>
	</div>
</div>
<section class="widget col-md-11" id="shares-widget" style="clear: both;">
	<div class="widget-body no-padding">
		<div class="list-group list-group-lg" ng-repeat='Member in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit'>
			<li class="list-group-item">
				<div class=" col-md-10">
					<a href="#" ui-sref="app.memberdetail({ memberid: Member.$id })">
						<span class="thumb-sm pull-left mr">
							<img class="img-circle" src="{{ Member.imageUrl }}" alt="...">
						</span>
						<h5 class="no-margin">{{ Member.firstName }} {{Member.lastName}}</h5>
					</a>
				<small class="text-muted">
					<span ></span>
				</small>
				</div>
			<a class="col-md-1"  title="{{ Member.userStatus===''?'Empty':(Member.userStatus==='blocked'?'Blocked':'Active') }}" href="#" ng-click="blockToggle($index, Member)">
				<i class="fa fa-circle mt-sm" ng-class="Member.userStatus==='blocked' && 'text-danger' || Member.userStatus==='active' && 'text-success'"></i>
			</a>
			</li>
		</div>
	<div class="col-md-2" style="margin-top:25px;">
		<select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
		<option>20</option>
		<option>50</option>
		<option>100</option>
		</select>
	</div>
	<div class="col-md-9" >
		<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="entryLimit"></pagination>
	</div>      
	</div>
</section>

</div>	