 <div class="col-md-10">
 <div class="checkbox checkbox-primary" style="float:left;width:10%; margin-top:0;">
                    <input id="checkbox2" type="checkbox" >
                    <label for="checkbox2">
                      Members
                    </label>
					 <div class="input-group-btn" >
                        <select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
                                data-style="btn-primary"
                                data-width="auto">
						  
                          <option>Online</option>
                          <option>Offline</option>
						 
                        </select>
                      </div>
                  </div>
				  <div class="checkbox checkbox-primary" style="float:left; margin-left:10px;margin-top:0;">
                    <input id="checkbox2" type="checkbox" >
                    <label for="checkbox2">
                     Groups
                    </label>
                  </div>
				  <div class="checkbox checkbox-primary" style="float:left;margin-left:10px;margin-top:0;">
                    <input id="checkbox2" type="checkbox" >
                    <label for="checkbox2">Channes</label>
                  </div>
				  </div>
<div  data-ui-jq="vectorMap" data-ui-options="{
            map: 'world_mill_en',
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            focusOn:{
                x: 0.5359,
                y: 0.4,
                scale: 2.5
            },
            zoomMin:0.85,
            hoverColor: false,
            regionStyle:{
                initial: {
                    fill: '#bdbdbd',
                    'fill-opacity': 1,
                    stroke: '#bdbdbd',
                    'stroke-width': 0,
                    'stroke-opacity': 0
                },
                hover: {
                    'fill-opacity': 0.8
                }
            },
            markerStyle: {
                initial: {
                    fill: app.settings.colors['brand-danger'],
                    stroke: app.helpers.darkenColor(app.settings.colors['brand-danger'],.1),
                    'fill-opacity': 1,
                    'stroke-width': 4,
                    'stroke-opacity': 0.2,
                    r: 5
                },
                hover: {
                    stroke: 'black',
                    'stroke-width': 5
                }
            },
            backgroundColor: '#eee',
            markers: [
                {latLng: [41.90, 12.45], name: 'Vatican City'},
                {latLng: [43.73, 7.41], name: 'Monaco'},
                {latLng: [-0.52, 166.93], name: 'Nauru'},
                {latLng: [-8.51, 179.21], name: 'Tuvalu'},
                {latLng: [43.93, 12.46], name: 'San Marino'},
                {latLng: [47.14, 9.52], name: 'Liechtenstein'},
                {latLng: [7.11, 171.06], name: 'Marshall Islands'},
                {latLng: [17.3, -62.73], name: 'Saint Kitts and Nevis'},
                {latLng: [3.2, 73.22], name: 'Maldives'},
                {latLng: [35.88, 14.5], name: 'Malta'},
                {latLng: [12.05, -61.75], name: 'Grenada'},
                {latLng: [13.16, -61.23], name: 'Saint Vincent and the Grenadines'},
                {latLng: [13.16, -59.55], name: 'Barbados'},
                {latLng: [17.11, -61.85], name: 'Antigua and Barbuda'},
                {latLng: [-4.61, 55.45], name: 'Seychelles'},
                {latLng: [7.35, 134.46], name: 'Palau'},
                {latLng: [42.5, 1.51], name: 'Andorra'},
                {latLng: [14.01, -60.98], name: 'Saint Lucia'},
                {latLng: [6.91, 158.18], name: 'Federated States of Micronesia'},
                {latLng: [1.3, 103.8], name: 'Singapore'},
                {latLng: [1.46, 173.03], name: 'Kiribati'},
                {latLng: [-21.13, -175.2], name: 'Tonga'},
                {latLng: [15.3, -61.38], name: 'Dominica'},
                {latLng: [-20.2, 57.5], name: 'Mauritius'},
                {latLng: [26.02, 50.55], name: 'Bahrain'},
                {latLng: [0.33, 6.73], name: 'S?o Tom? and Pr?ncipe'}
            ]
        }" class="content-map" style="top:165px;">
</div>
<header class="page-title" style="clear:both;">
  <h1 class="no-margin mb-sm">Vector <span class="fw-semi-bold">Maps</span></h1>
  <p class="page-title h5 no-margin">
    <span class="fw-semi-bold">1 656 843</span>
    <span class="ml-xs circle bg-gray"><i class="text-gray-lighter fa fa-circle"></i></span>
  </p>
</header>
