<style>
	.widget-body.no-padding > .list-group .list-group-item {height:70px;}
	.disabled {
       pointer-events: none;
       cursor: default;
    } 
</style>
<div class="row" ng-controller="GroupsListController">
<div class="col-md-9"><h1 class="page-title"> <span class="fw-semi-bold">Groups</span></h1></div>
<label>Search: <input  ng-model="search.info.communityName" ng-keyup="$event.keyCode == 13 && myFunc()"></label>
	<div class="clearfix col-md-2  hide" >
		<div class="input-group">
			<div class="input-group-btn">
				<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
				data-style="btn-primary"
				data-width="auto">
				<option>Type</option>
				<option>Alphabetically</option>
				<option>Date Creation</option>
				<option>Members</option>
				</select>
			</div>
		</div>
	</div>
	<section class="widget col-md-11" id="shares-widget" style="clear: both;">
		<div class="widget-body no-padding">
			<div class="list-group list-group-lg" ng-repeat='Group in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit'>
				<li class="list-group-item">
					<div class=" col-md-10">
						<a href="#" ui-sref="app.detail({ groupKey: Group.info.$id })">
							<span class="thumb-sm pull-left mr">
								<img class="img-circle" src="{{ Group.profileImage }}" alt="...">
							</span>
							<h5 class="no-margin">{{ Group.info.communityName }}</h5>
						</a>
						<small class="text-muted">Members ( {{ Group.totalMembers }} )
							<span style="margin-left:20px;"></span>
						</small>
					</div>
					<a class="col-md-1"  title="{{ Group.info.communityStatus===''?'Empty':(Group.info.communityStatus==='blocked'?'Blocked':'Active') }}" href="#" ng-click="blockToggle($index, Group.info)">
						<i class="fa fa-circle mt-sm" ng-class="Group.info.communityStatus==='blocked' && 'text-danger' || Group.info.communityStatus==='active' && 'text-success'"></i>
					</a>
					<a class="col-md-1" href="#" ng-click="markGroupFeatured($index, Group.info)">
						<span class="glyphicon" style="color:#f0b518" ng-class="Group.info.featured===1 && 'glyphicon-star' || Group.info.featured===0 && 'glyphicon-star-empty' || Group.info.featured==='' && 'glyphicon-star-empty'"></span>
					</a>
				</li>
			</div>
			<div class="col-md-2" style="margin-top:25px;">
			<select ng-model="viewby" ng-change="setItemsPerPage(viewby)" >
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			</div>
			<div class="col-md-9">
			<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="entryLimit"></pagination>
			</div>
		</div>
	</section>
</div>	