<style>
	a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover{color:#ffffff;}
/*md-list-item.md-3-line, md-list-item.md-3-line>._md-no-style {max-height:88px;}*/
._md-secondary-container{display:none !important;}
[name="accordion-group"]{
  	display: none;
}
md-input-container label{text-align:left !important;}
.element-list{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.accordion-group label{
  	/*typography*/
	  
	  /*misc*/
	   font-weight: normal;
	  cursor: pointer;
}
.accordion-group label:hover{
  	color: #4caf50;
}
.accordion-h{background:#ffffff;margin-top:20px;    padding-bottom: 20px;}
.accordion-toggle:before{  /*IE8*/
  	content: "▶ ";
	text-align:right;
	float:right;
}
.accordion-toggle::before{
	  content: "▶ ";
	  text-align:right;
	  float:right;
}
[name="accordion-group"] ~ .accordion-h .accordion-toggle{
  	display: block;
}
[name="accordion-group"]:checked ~ .accordion-h .accordion-toggle{
	  display: none;
}
.chat_one{
    position: relative;
    cursor: pointer;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	border-bottom: 1px solid #f2f2f2;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	   margin-left: 24px;
    margin-right: 24px;
	padding: 9px 5px 12px 10px;
}
 .chat-body {
    
    box-sizing: border-box;
    width:100%;
}
.chat-main {
    line-height: normal;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    margin-top: -1px;
}
.chat-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsify {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-secondary{
    margin-top: 3px;
    min-height: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
	font-size: 13px;
    line-height: 19px;
	height: 76%;
    overflow-y: auto;
}
.accordion-dismiss:before{  /*IE8*/
	  content: "▼ " !important;
	  text-align:right;
	  float:right;
}
.accordion-dismiss::before{
	  content: "▼ " !important;
	  text-align:right;
	  float:right;
}
.material-icons[data-platform="volume"] {color:#ffffff !important;}

[name="accordion-group"] ~ h4 .accordion-dismiss{
	  display: none;
}
[name="accordion-group"]:checked ~ h4 .accordion-dismiss{
	  display: block;
}
.info-header{   
 position: relative;
    min-height: 192px !important;
	}
.info-hedings{
	    padding-left: 20px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.accordion-body{
	  /*box model*/
	 
	  height: auto;
	  max-height: 0;
	  /*layout*/
	  overflow: hidden;
	  /*backgrounds &amp; borders*/
	 
	  /*misc*/
	
	  /*transition*/
	  -webkit-transition: max-height .2s ease 0s;
	  transition: max-height .25s ease 0s;
}
.accordion-group li:last-child .accordion-body{
  	border-bottom-width: 1;
	background:#ffffff;
	    padding-left: 128px;
    line-height: 31px;
}
[name="accordion-group"]:checked ~ .accordion-body{
	  /*box model*/
	  max-height: 660px;
	  /*transition*/
	  transition-duration: .75s;
}
.accordian_main{width:80%;margin:0 auto;}
.accordian_main h4{color:rgba(0,0,0,0.87) !important}
.accordion-inner{
  padding: 0;    list-style-type: none;
}


</style>

<div style="width:100%;"  >
		<div style="width:100%;"  >
		<h3 style="text-align:center;padding-top:50px;">Invite people<br/></h3>
		<div class="accordian_main">
			<input checked="checked" id="collapse-all" name="accordion-group" type="radio" />
			<ul class="accordion-group element-list">
		    <li>
				<input id="collapse-1" name="accordion-group" type="radio" />
			    <h4 class="accordion-h" style="margin-bottom:0;">
        		<label class="accordion-dismiss" for="collapse-all">
				<div layout="row" style="background-color:#ffffff; padding:10px 0 0 10px;" >
					<div style="width:10%;float:left;">
						<img src="../src/assets/images/invitation_ma.png" >
					</div>
					<div style="width:83%;">
						<h4>Invite Manually</h4>
						<div layout="row" style="line-height: 18px;color: rgba(0,0,0,0.54);font-size:14px; padding-top:10px;"> Invite people by typing their mobile number. We will send them SMS invitation. It will not cost you.</div>
					</div>  
				</div>
				</label>
				<label class="accordion-toggle" for="collapse-1">
				<div layout="row" style="background-color:#ffffff; padding:10px 0 0 10px;" >
					<div style="width:10%;float:left;">
						<img src="../src/assets/images/invitation_ma.png" >
					</div>
					<div style="width:83%;">
						<h4>Invite Manually</h4>
						<div layout="row" style="line-height: 18px;color: rgba(0,0,0,0.54);font-size:14px; padding-top:10px;"> Invite people by typing their mobile number. We will send them SMS invitation. It will not cost you.</div>
					</div>  
				</div>
				</label>
      			</h4>
      			<div class="accordion-body">
				<ul class="accordion-inner">
				<li>
					<div style="width:100%; height:168px; background-color:#ffffff;" >
					<div layout="row" style="width:100%;">				
					<div layout="row" style="width:100%;">
					<div  style="width:100%;padding-left: 122px;">
						<div layout-gt-sm="row" style="width:100%; " >
							<p style="font-size: 14px;color:green;">
							Type the mobile number you wish to invite
							</p>
						</div> 
						<div layout-gt-sm="row" style="padding-top:20px;width:80%;" >
							<md-input-container class="md-block required"  flex-gt-sm>
							<label>Mobile Number</label>
							<input type="text"  maxlength="10" ng-minlength="10" autofocus required />
							</md-input-container>
						</div>
						<div style="margin-top:20px;"> 
							<button class="btn btn-success width-100 mb-xs" role="button">
							Invite
							</button>
						</div>						
					</div>
					</div>
					</div>
					</div>
				</li>
				</ul>
				</div>
    		</li>		
		    <li>
			    <input id="collapse-2" name="accordion-group" type="radio" />
			    <h4 class="accordion-h" style="margin-bottom:0;">
				<label class="accordion-dismiss" for="collapse-all">
				<div layout="row" style="background-color:#ffffff; padding:10px 0 0 10px;" ng-if="groupdetails.communityDesc != ''">
					<div style="width:10%;text-align: center;padding-right: 14px;float:left;">
						<img src="../src/assets/images/upload.png" style="width:53px;">
					</div>
					<div style="width:83%;">
						<h4>CSV File uploa</h4>
						<div layout="row" style="line-height: 18px;color: rgba(0,0,0,0.54);font-size:14px; padding-top:10px;padding-left:12%;"> Upload CSV file in standard format and send invitations in bulk.</div>
					</div>   
				</div>
				</label>
				<label class="accordion-toggle" for="collapse-2">
				<div layout="row" style="background-color:#ffffff; padding:10px 0 0 10px;" ng-if="groupdetails.communityDesc != ''">
					<div style="width:10%;text-align: center;padding-right: 14px;float:left;">
						<img src="../src/assets/images/upload.png" style="width:53px;">
					</div>
					<div  style="width:83%;">
						<h4>CSV File uploa</h4>
						<div layout="row" style="line-height: 18px;color: rgba(0,0,0,0.54);font-size:14px; padding-top:10px;padding-left:12%;"> Upload CSV file in standard format and send invitations in bulk.</div>
					</div>  
				</div>
				</label>
			    </h4>
				<div class="accordion-body">
				<ul class="accordion-inner">
				<li>
					<div > 
					<input type="file"  />
					<div>{{fileReader}}</div>
					<div>Format your CSV file according to 
					<a href=""  style="color:green;" >this template.</a>
					</div>		
					</div>
				</li>
				</div>
				</li>
				</ul>
			   </div>
		    </li>
			</ul>
	</div>		
	</div>