<div class=" col-md-10"><h1 class="page-title"> Groups - <span class="fw-semi-bold">Profile</span></h1></div>
<div class="clearfix col-md-2  " >
  <div class="btn-toolbar" >
    <div class="btn-group" >
       <a data-toggle="dropdown" class="btn dropdown-toggle btn-default">
       Since <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">All</a></li>
        <li><a href="#">Month</a></li>
        <li><a href="#">Week</a></li>
        <li><a href="#">Today</a></li>
      </ul>
    </div>
	 </div>
</div>
<div class="row profile">
  <div class="col-md-11">
    <section class="widget">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="overflow-hidden" style="height:350px;">
            <img class="img-responsive" src="assets/images/pictures/19.jpg"> 
          </div>
          <div class="btn-toolbar">
             <a href="#" class="btn btn-outline btn-sm pull-right">
             <span class="glyphicon glyphicon-eye-close"></span>
              Hide
            </a>
			<a href="#" class="btn btn-outline btn-sm pull-right">
             <span class="glyphicon glyphicon-star"></span>
              Featured
            </a>
			<a href="#" class="btn btn-outline btn-sm pull-right">
             <span class="glyphicon glyphicon-trash"></span>
              Delete
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 text-left">
            <div class="post-user post-user-profile">
              <span class="thumb-xlg">
                <img class="img-circle" src="assets/images/people/a5.jpg" alt="..."> 
              </span>
              <h4 class="fw-normal">Star  <span class="fw-semi-bold">Plus</span></h4>
			       <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
          <a href="#" class="list-group-item" style="height:70px;">
		  <div class=" col-md-11">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="assets/images/people/a1.jpg" alt="...">
                                </span>
          <i class=" pull-right" style="background: green;border-radius: 10px;font-size: 12px; padding: 10px;color: #ffffff;">Admin</i>
            <h5 class="no-margin">Maikel Basso</h5>
            <small class="text-muted"><span>Messages ( 10 )</span></small>
			</div>
			
          </a>
              </div></div>
              
              <p class="lead mt-lg">
              My name is Adam Johns and here is my new Sing user profile page.
            </p>
            <p>
              I love reading people's summaries page especially those who are in the same industry as me.
              Sometimes it's much easier to find your concentration during the night.
            </p>
            </div>
          </div>
          <div class="col-sm-5">
		  <h3 style="text-align:right;color:#4caf50">Members</h3>
            <div class="stats-row stats-row-profile mt text-right">
              <div class="stat-item">
                <p class="value">251</p>
                <h5 class="name">Present Members</h5>
              </div>
              <div class="stat-item">
                <p class="value">10</p>
                <h5 class="name">Active</h5>
              </div>
              <div class="stat-item">
                <p class="value">3</p>
                <h5 class="name">Inactive</h5>
              </div>
			   <div class="stat-item">
                <p class="value">2</p>
                <h5 class="name">Blocked</h5>
              </div>
			   <div class="stat-item">
                <p class="value">10</p>
                <h5 class="name">Now</h5>
              </div>
			   <div class="stat-item">
                <p class="value">5</p>
                <h5 class="name">Left</h5>
              </div>
            </div>
			<h3 style="text-align:right;color:#4caf50;">Postings</h3>
           <div class="stats-row stats-row-profile mt text-right">
              <div class="stat-item">
                <p class="value">251</p>
                <h5 class="name">Total</h5>
              </div>
              <div class="stat-item">
                <p class="value">10</p>
                <h5 class="name">Hidden</h5>
              </div>
              <div class="stat-item">
                <p class="value">3</p>
                <h5 class="name">Reported</h5>
              </div>
			   <div class="stat-item">
                <p class="value">2</p>
                <h5 class="name">Deleted</h5>
              </div>
			   
            </div>
           
            
          </div>
		  <div data-ng-controller="ChartsDemoController">

 <div class="row">
    <div class="col-md-12">
      <section class="widget">
        <header>
          <h4>
            <span class="fw-semi-bold">Groups Overview</span> Charts
          </h4>
          <div class="widget-controls">
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          
          <div data-nvd3-chart data-chart="nvd31Chart" data-datum="nvd31Data">
            <svg class=></svg>
          </div>
        </div>
      </section>
    </div>
    
  </div>
    <div class="row" style="margin-top:10px;">
	  <div class=" col-md-12" style="margin-bottom:20px;">
  <div class=" col-md-7"><h1 class="page-title"> </h1></div>
   <div class="col-md-3" style="float:right;text-align:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
					data-style="btn-primary"
					data-width="auto">
			  <option>Since</option>
			  <option>All</option>
			  <option>Month</option>
			  <option>Week</option>
			  <option>Today</option>
			</select>
		</div>
</div>
  </div>
  </div>
    <div class="col-md-6" >
      <section class="widget">
        <header>
          <h4>
            Flot <span class="fw-semi-bold">Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="mt mb" id="flot-main" style="width: 100%; height: 318px;" data-flot-chart-animator
               data-ng-init="data = [{
                        label: 'Traffic',
                        data: data3,
                        lines: {
                            fill: .3,
                            lineWidth: 0
                        },
                        color:['#ccc']
                    },{
                        label: 'Traffic',
                        data: data2,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color:['#F7653F']
                    },{
                        label: 'Traffic',
                        data: data1,
                        animator: {steps: 60, duration: 1000, start:0},
                        lines: {lineWidth:2},
                        shadowSize:0,
                        color: '#F7553F'
                }]" data-ng-model="data"></div>
          <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
          
        </div>
      </section>
    </div>
    <div class="col-md-6" >
      <section class="widget">
        <header>
          <h4>
            Morris <span class="fw-semi-bold">Area Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
         
          <div data-morris-chart data-type="area" data-height="343px" data-options="morris2Options">
          </div>
        </div>
      </section>
    </div>
    </div>
</div>

        </div>
      </div>
    </section>
  </div>
  <div class="col-md-11">
    <section class="activities">
      <h2>Activities</h2>
      <section class="event">
        <span class="thumb-sm avatar pull-left mr-sm">
          <img class="img-circle" src="assets/images/people/a5.jpg" alt="...">
        </span>
        <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          There is no such thing as maturity. There is instead an ever-evolving process of maturing.
          Because when there is a maturity, there is ...
        </p>
        <footer>
          <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
            <li><a href="#">Comment</a></li>
          </ul>
        </footer>
      </section>
      <section class="event">
        <h4 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside
          my brand new HDD 40TB. Thanks god I found it!
        </p>
        <footer>
          <div class="clearfix">
            <ul class="post-links mt-sm pull-left">
              <li><a href="#">1 hour</a></li>
              <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
              <li><a href="#">Comment</a></li>
            </ul>

            <span class="thumb thumb-sm pull-right">
              <a href="#">
                <img class="img-circle" src="assets/images/people/a1.jpg">
              </a>
            </span>
            <span class="thumb thumb-sm pull-right">
              <a href="#"><img class="img-circle" src="assets/images/people/a5.jpg"></a>
            </span>
            <span class="thumb thumb-sm pull-right">
              <a href="#"><img class="img-circle" src="assets/images/people/a3.jpg"></a>
            </span>
          </div>
          <ul class="post-comments mt-sm">
            <li>
              <span class="thumb-xs avatar pull-left mr-sm">
                <img class="img-circle" src="assets/images/people/a1.jpg" alt="...">
              </span>
              <div class="comment-body">
                <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                <p>Hey, have you heard anything about that?</p>
              </div>
            </li>
            <li>
              <span class="thumb-xs avatar pull-left mr-sm">
                <img class="img-circle" src="assets/images/avatar.png" alt="...">
              </span>
              <div class="comment-body">
                <input class="form-control input-sm" type="text" placeholder="Write your comment...">
              </div>
            </li>
          </ul>
        </footer>
      </section>
	 </div>	
 

 