<STYLE>
.profile .col-md-8 {font-weight:bold;}

</STYLE>
<div>
<h1 class="page-title"><span class="fw-semi-bold">Overview</span></h1>
<div class=" col-md-7 " style="padding-left:0;"><h1 class="page-title"> User</h1></div>
 <div class="col-md-3" style="float:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn" ng-controller="OverviewController">
			<select id="phone-type" class="selectpicker" data-selectpicker  ng-change="memFilter()" ng-model="filtermembers" 
					data-style="btn-success"
					data-width="auto">
			  <option value="0">All</option>
			  <option value="1">Month</option>
			  <option value="2">Week</option>
			  <option value="3">Today</option>
			</select>
		</div>
</div>
  </div>
<div class="row profile"  ng-controller="OverviewController">

  <div class="col-md-5 alert-success" style="margin-right:10px;height:350px;color:#ffffff !important; background-color: #64bd63;" >
 
	<h3>Members</h3>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Present Members</div>
	<div class="col-md-8">{{ present_members }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Active</div>
	<div class="col-md-8">{{ active_members }}</div>
	</div>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Blocked</div>
	<div class="col-md-8">{{ blocked_members }}</div>
	</div>

	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Left</div>
	<div class="col-md-8">{{ left_members }}</div>
	</div>
  </div>
   <div class="col-md-5  alert-success" style="height:350px;color:#ffffff !important;background-color: #64bd63;">
   <h3>Postings</h3>
   <div class="col-md-12" style="height:40px;">
   <div class="col-md-4">Total</div>
	<div class="col-md-8">{{ mem_postings_total }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Hidden</div>
	<div class="col-md-8">{{ mem_postings_hidden }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Reported</div>
	<div class="col-md-8">{{ mem_postings_reported }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Deleted</div>
	<div class="col-md-8">{{ mem_postings_deleted }}</div>
	</div>
  </div>
 </div>
  <div class="row" >
 <div class="col-md-10" style="background-color: #64bd63; padding-left: 15px; padding-right: 15px;width: 84.1%;">
 <section >
      
      <div class="widget-body">
       
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width: 80%;background-color:#f0b518;">
          </div>
        </div>
        <p style="color:#ffffff;">
          <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
          <span class="fw-semi-bold">8 734 higher</span>
          than last month
        </p>
      </div>
    </section>
	</div>
	</div>
	<div class="row">
  <div class="col-md-10" style="padding-left:0px; padding-right:0px;width:84.2%;">
    <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
      <div class="panel panel-default">
        <div class="panel-heading collapsed">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
              View Chart
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
             <div data-ng-controller="ChartsDemoController">
 
  <div class="row" style="margin-top:20px;">
  <div class=" col-md-12" style="margin-bottom:20px;">
  <div class=" col-md-9"><h1 class="page-title"> </h1></div>
   <div class="col-md-3" style="float:right;text-align:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
					data-style="btn-default"
					data-width="auto">
			  <option>Since</option>
			  <option>All</option>
			  <option>Month</option>
			  <option>Week</option>
			  <option>Today</option>
			</select>
		</div>
</div>
  </div>
  </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0;">
      <section class="widget">
        <header>
          <h4>
            Flot <span class="fw-semi-bold">Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="mt mb" id="flot-main" style="width: 496px; height: 318px;" data-flot-chart-animator
               data-ng-init="data = [{
                        label: 'Traffic',
                        data: data3,
                        lines: {
                            fill: .3,
                            lineWidth: 0
                        },
                        color:['#ccc']
                    },{
                        label: 'Traffic',
                        data: data2,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color:['#F7653F']
                    },{
                        label: 'Traffic',
                        data: data1,
                        animator: {steps: 60, duration: 1000, start:0},
                        lines: {lineWidth:2},
                        shadowSize:0,
                        color: '#F7553F'
                }]" data-ng-model="data"></div>
          <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
          
        </div>
      </section>
    </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0; ">
      <section class="widget">
        <header>
          <h4>
            Morris <span class="fw-semi-bold">Area Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
         
          <div data-morris-chart data-type="area" data-height="343px" data-options="morris2Options" style="width: 496px;">
          </div>
        </div>
      </section>
    </div>
    </div>

</div>
          </div>
        </div>
      </div>
     
      
    </div>
  </div>
 
</div>
 
 <div class="row profile" style="padding-top:20px;" ng-controller="ChannelController">
<div class=" col-md-7"><h1 class="page-title"> Channels </h1></div>
 <div class="col-md-3" style="float:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select class="selectpicker" data-selectpicker ng-change="channelFilter()" ng-model="filterchannels"
					data-style="btn-primary"
					data-width="auto">
			  <option value="0">All</option>
			  <option value="1">Month</option>
			  <option value="2">Week</option>
			  <option value="3">Today</option>
			</select>
		</div>
</div>
  </div>
  <div class="col-md-5" style="margin-right:10px;height:350px;color:#ffffff !important;background-color:#f0b518;" >
 
	<h3>Members</h3>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Present Members</div>
	<div class="col-md-8">{{ chn_present }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Active</div>
	<div class="col-md-8">{{ chn_active }}</div>
	</div>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Blocked</div>
	<div class="col-md-8">{{ chn_blocked }}</div>
	</div>

	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Left</div>
	<div class="col-md-8">{{ chn_left }}</div>
	</div>
  </div>
   <div class="col-md-5" style="height:350px;color:#ffffff !important;background-color:#f0b518;">
   <h3>Postings</h3>
   <div class="col-md-12" style="height:40px;">
   <div class="col-md-4">Total</div>
	<div class="col-md-8">{{ chn_postings_total }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Hidden</div>
	<div class="col-md-8">{{ chn_postings_hidden }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Reported</div>
	<div class="col-md-8">{{ chn_postings_reported }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Deleted</div>
	<div class="col-md-8">{{ chn_postings_deleted }}</div>
	</div>
  </div>
 </div>
  <div class="row">
  <div class="col-md-10" style="background-color:#f0b518; padding-left: 15px; padding-right: 15px;width: 84.1%;">
 <section >
      
      <div class="widget-body">
       
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          </div>
        </div>
        <p style="color:#ffffff;">
          <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
          <span class="fw-semi-bold">8 734 higher</span>
          than last month
        </p>
      </div>
    </section>
	</div>
	</div>
	<div class="row">
  <div class="col-md-10" style="padding-left:0px; padding-right:0px;width:84.2%;;">
    <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
      <div class="panel panel-default">
        <div class="panel-heading collapsed">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
              View Chart
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
             <div data-ng-controller="ChartsDemoController">
 
  <div class="row" style="margin-top:20px;">
  <div class=" col-md-12" style="margin-bottom:20px;">
  <div class=" col-md-9"><h1 class="page-title"> </h1></div>
   <div class="col-md-3" style="float:right;text-align:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
					data-style="btn-default"
					data-width="auto">
			  <option>Since</option>
			  <option>All</option>
			  <option>Month</option>
			  <option>Week</option>
			  <option>Today</option>
			</select>
		</div>
</div>
  </div>
  </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0;">
      <section class="widget">
        <header>
          <h4>
            Flot <span class="fw-semi-bold">Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="mt mb" id="flot-main" style="width: 496px; height: 318px;" data-flot-chart-animator
               data-ng-init="data = [{
                        label: 'Traffic',
                        data: data3,
                        lines: {
                            fill: .3,
                            lineWidth: 0
                        },
                        color:['#ccc']
                    },{
                        label: 'Traffic',
                        data: data2,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color:['#F7653F']
                    },{
                        label: 'Traffic',
                        data: data1,
                        animator: {steps: 60, duration: 1000, start:0},
                        lines: {lineWidth:2},
                        shadowSize:0,
                        color: '#F7553F'
                }]" data-ng-model="data"></div>
          <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
          
        </div>
      </section>
    </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0; ">
      <section class="widget">
        <header>
          <h4>
            Morris <span class="fw-semi-bold">Area Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
         
          <div data-morris-chart data-type="area" data-width="200px;" data-height="343px" data-options="morris2Options" style="width: 496px;">
          </div>
        </div>
      </section>
    </div>
    </div>

</div>
          </div>
        </div>
      </div>
     
      
    </div>
  </div>
 
</div>
 
 <div class="row profile" ng-controller="GroupController" style="padding-top:20px;">
<div class=" col-md-7"><h1 class="page-title"> Groups</h1></div>
 <div class="col-md-3" style="float:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn" >
			<select class="selectpicker" data-selectpicker ng-change="groupFilter()" ng-model="filtergroups"
					data-style="btn-primary"
					data-width="auto">
			  <option value="0">All</option>
			  <option value="1">Month</option>
			  <option value="2">Week</option>
			  <option value="3">Today</option>
			</select>
		</div>
</div>
  </div>
  <div class="col-md-5 alert-info" style="margin-right:10px;height:350px;color:#ffffff !important;background-color:#5d8fc2;" >
 
	<h3>Members</h3>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Present Members</div>
	<div class="col-md-8">{{ grp_present }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Active</div>
	<div class="col-md-8">{{ grp_active }}</div>
	</div>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Blocked</div>
	<div class="col-md-8">{{ grp_blocked }}</div>
	</div>
	
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Left</div>
	<div class="col-md-8">{{ grp_left }}</div>
	</div>
  </div>
   <div class="col-md-5 alert-info" style="height:350px;color:#ffffff !important;background-color:#5d8fc2;">
   <h3>Postings</h3>
   <div class="col-md-12" style="height:40px;">
   <div class="col-md-4">Total</div>
	<div class="col-md-8">{{ grp_postings_total }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Hidden</div>
	<div class="col-md-8">{{ grp_postings_hidden }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Reported</div>
	<div class="col-md-8">{{ grp_postings_reported }}</div>
	</div>
	<div class="col-md-12" style="height:40px;">
	<div class="col-md-4">Deleted</div>
	<div class="col-md-8">{{ grp_postings_deleted }}</div>
	</div>
  </div>
 </div>
   <div class="row">
   <div class="col-md-10" style="background-color: #5d8fc2; padding-left: 15px; padding-right: 15px;width: 84.1%;">
 <section >
      
      <div class="widget-body">
       
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width: 80%;background-color:#64bd63;">
          </div>
        </div>
        <p style="color:#ffffff;">
          <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
          <span class="fw-semi-bold">8 734 higher</span>
          than last month
        </p>
      </div>
    </section>
	</div>
	</div>
 <div class="row">
  <div class="col-md-10" style="padding-left:0px; padding-right:0px;width:84.2%;">
    <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
      <div class="panel panel-default">
        <div class="panel-heading collapsed">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              View Chart
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
             <div data-ng-controller="ChartsDemoController">
 
  <div class="row" style="margin-top:20px;">
  <div class=" col-md-12" style="margin-bottom:20px;">
  <div class=" col-md-9"><h1 class="page-title"> </h1></div>
   <div class="col-md-3" style="float:right;text-align:right;">
  <div class="clearfix  " style="float:right;" >
<div class="input-group-btn">
			<select id="phone-type" class="selectpicker" data-selectpicker data-ng-model="option"
					data-style="btn-default"
					data-width="auto">
			  <option>Since</option>
			  <option>All</option>
			  <option>Month</option>
			  <option>Week</option>
			  <option>Today</option>
			</select>
		</div>
</div>
  </div>
  </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0;">
      <section class="widget">
        <header>
          <h4>
            Flot <span class="fw-semi-bold">Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
          <div class="mt mb" id="flot-main" style="width: 496px; height: 318px;" data-flot-chart-animator
               data-ng-init="data = [{
                        label: 'Traffic',
                        data: data3,
                        lines: {
                            fill: .3,
                            lineWidth: 0
                        },
                        color:['#ccc']
                    },{
                        label: 'Traffic',
                        data: data2,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color:['#F7653F']
                    },{
                        label: 'Traffic',
                        data: data1,
                        animator: {steps: 60, duration: 1000, start:0},
                        lines: {lineWidth:2},
                        shadowSize:0,
                        color: '#F7553F'
                }]" data-ng-model="data"></div>
          <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
          
        </div>
      </section>
    </div>
    <div class="col-md-6" style="padding-left:0; padding-right:0; ">
      <section class="widget">
        <header>
          <h4>
            Morris <span class="fw-semi-bold">Area Charts</span>
          </h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">
         
          <div data-morris-chart data-type="area"  data-height="343px" data-options="morris2Options" style="width: 496px;">
          </div>
        </div>
      </section>
    </div>
    </div>

</div>
          </div>
        </div>
      </div>
     
      
    </div>
  </div>
 
</div>

 
 </div>