<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
        <h4 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          sing
          <i class="fa fa-circle text-warning"></i>
        </h4>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login to Admin Panel</h3>
          </header>
          <div class="widget-body" ng-controller="AuthController">
            
            <form name="loginForm" class="login-form mt-lg">
				<span style="color:red;">{{ auth_error }}</span>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="email" name="email" id="email" placeholder="Username">
              </div>
				
              <div class="form-group">
                <input class="form-control" id="password" ng-model="password" name="password" type="password" placeholder="Password">
              </div>

              <div class="clearfix">
                <div class="btn-toolbar pull-right">
                  <a class="btn btn-inverse btn-sm hide" ng-click="register()">Create</a>
				  <input type="submit" class="btn btn-inverse btn-sm" value="Login" ng-click="login()"> 
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                  <div class="clearfix">
                    <div class="checkbox widget-login-info pull-right ml-n-lg hide">
                      <input type="checkbox" id="checkbox1" value="1">
                      <label for="checkbox1">Keep me signed in </label>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-sm-pull-6 hide">
                  <a class="mr-n-lg" href="#">Trouble with account?</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    2016 &copy; Kisan Chat Admin.
  </footer>
</div>
